<!doctype html>
<html lang="{{ site.lang }}">
  <!-- Head -->
  <head>
    {% if page.redirect %}
      {% if page.redirect == true %}
        {% assign redirect = site.baseurl | append: '/' %}
      {% elsif page.redirect contains '://' %}
        {% assign redirect = page.redirect %}
      {% else %}
        {% assign redirect = page.redirect | relative_url %}
      {% endif %}
      <meta http-equiv="refresh" content="3; url={{ redirect }}">
    {% endif %}
    {% include head.liquid %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- MailerLite Universal -->
    <script>
        (function(w,d,e,u,f,l,n){w[f]=w[f]||function(){(w[f].q=w[f].q||[])
        .push(arguments);},l=d.createElement(e),l.async=1,l.src=u,
        n=d.getElementsByTagName(e)[0],n.parentNode.insertBefore(l,n);})
        (window,document,'script','https://assets.mailerlite.com/js/universal.js','ml');
        ml('account', '960210');
    </script>
    <!-- End MailerLite Universal -->

    <!-- App Store -->
    <meta name="apple-itunes-app" content="app-id=6479176150">

    <!-- Google Structured Data: App Stores -->
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "SoftwareApplication",
      "name": "Wingle. The first app that allows people on the same plane to meet, connect and chat; all without the need of internet connection.",
      "operatingSystem": "IOS",
      "applicationCategory": "SocialNetworkingApplication",
      "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": 4.6,
        "ratingCount": 100
      },
      "offers": {
        "@type": "Offer",
        "price": 0,
        "priceCurrency": "EUR"
      }
    }
    </script>
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "SoftwareApplication",
      "name": "Wingle. The first app that allows people on the same plane to meet, connect and chat; all without the need of internet connection.",
      "operatingSystem": "ANDROID",
      "applicationCategory": "SocialNetworkingApplication",
      "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": 4.6,
        "ratingCount": 100
      },
      "offers": {
        "@type": "Offer",
        "price": 0,
        "priceCurrency": "EUR"
      }
    }
    </script>
  </head>

  <!-- Body -->
  <body class="{% if site.navbar_fixed %}fixed-top-nav{% endif %} {% unless site.footer_fixed %}sticky-bottom-footer{% endunless %}">
    <!-- Header -->
    {% include header.liquid %}

    <!-- Content -->
    <div class="container mt-5" role="main">
      {% if page.toc and page.toc.sidebar %}
        {% if page.toc.sidebar == 'right' %}
          <div class="row">
            <!-- main content area -->
            <div class="col-sm-9">{{ content }}</div>
            <!-- sidebar, which will move to the top on a small screen -->
            <div class="col-sm-3">
              <nav id="toc-sidebar" class="sticky-top"></nav>
            </div>
          </div>
        {% else %}
          <div class="row">
            <!-- sidebar, which will move to the top on a small screen -->
            <div class="col-sm-3">
              <nav id="toc-sidebar" class="sticky-top"></nav>
            </div>
            <!-- main content area -->
            <div class="col-sm-9">{{ content }}</div>
          </div>
        {% endif %}
      {% else %}
        {{ content }}
      {% endif %}
    </div>

    <!-- Footer -->
    {% if page.hide_newsletter == true %}
    {% else %}
    <div class="ml-embedded" data-form="p6eUzD" style="padding-top: 40px"></div>
    {% endif %}

    <div class="download-image-links" align="center" style="padding-top: 40px">
      <a href="{{ site.download-ios-url }}">
        <img src="/assets/img/download-ios.png" alt="Download iOS" height="50px">
      </a>

      <a href="{{ site.download-android-url }}">
        <img src="/assets/img/download-android.png" alt="Download Android" height="50px">
      </a>
    </div>

    <!-- Social -->
    <div class="social-links" align="center" style="padding-top: 40px">
    {% for social in site.data.socials %}
        {% if social[1].fa-class %}
        <a href="{{ social[1].url }}" title="{{ social[1].title }}" class="{{ social[1].fa-class }} fa-xl" alt="{{ social[1].title }}" style="padding: 20px"></a>
        {% else %}
        <a href="{{ social[1].url }}" title="{{ social[1].title }}" alt="{{ social[1].title }}">
          {% assign file_ext = social[1].logo | split: '.' | last %}

          {% if file_ext == 'svg' %}
            <svg>
              <image
              xlink:href="{% if social[1].logo contains '://' %}{{ social[1].logo }}{% else %}{{ social[1].logo | relative_url }}{% endif %}"
              alt="{{ social[1].title }}"
              height="60px",
              />
            </svg>
          {% else %}
            <img
              src="{% if social[1].logo contains '://' %}{{ social[1].logo }}{% else %}{{ social[1].logo | relative_url }}{% endif %}"
              alt="{{ social[1].title }}"
              height="60px"
            >
          {% endif %}
        </a>
      {% endif %}
    {% endfor %}
    </div>

    {% include footer.liquid %}

    <!-- JavaScripts -->
    {% include scripts.liquid %}
  </body>
</html>
